<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{ global.title }}</title>
        <meta name="description" content="{{ global.description }}">
        <meta name="author" content="unseen.co">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">

        <link rel="stylesheet" href="{% asset 'style.css' %}">
    </head>

    <body>
        <main data-taxi>
            <article data-taxi-view>
                {% block content %}{% endblock %}
            </article>
        </main>

        <script src="{% asset 'app.js' %}"></script>
    </body>
</html>
